# Ignore private notes
**/private_notes.md

# Environment variables
**/.env
llm/rag/easy-local-rag/.env

# Virtual environments
**/.venv/
**/venv/
**/env/

# Python cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

